
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

body {
	font-family: 'Roboto', sans-serif, Lucida Console, cursive;
	font-size: 16px;
	color: #2d3c49;
	margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}
header, section, footer, article{
	width: 100%;
}
header, section {
	border-bottom: 2px solid #7d97ad;
}

/* Header Section */

header {
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
}

.header__logo img {
	width: 80px;
}

header .header__info {
	text-align: right;
}
header .name {
	text-transform: uppercase;
}

header .job_title {
	color: #7d97ad;
}

/* Highlight Section */

.highlight {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight img {
	width: 100%;
	max-width: 600px;
	cursor: pointer;
}

.highlight p {
	max-width: 600px;
	text-align:center;
}

/* Showcase section */

.showcase {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.showcase__header {
	color: #7d97ad;
	width: 100%;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    text-align: center;
}

.showcase__project {
	min-width: 100px;
	text-align: center;
	overflow-wrap: break-word;
	vertical-align: top;
}

.showcase__project img {
	max-width: 150px;
}

.showcase__project h2 {
	text-transform: uppercase;
}

/* Image Credits */

.credits {
	text-align: center;
}
