/* First Breakpoint */

@media screen and (min-width:800px) {

	/* Two column grid for skills */

	#skills {
		flex-direction: row;
	}
	/* Two column grid for showcase projects */

	.showcase {
		flex-direction: row;
	}

	.showcase__project {
		width: 33%;
	}

}

/* Second Breakpoint */

@media screen and (min-width:1000px) {

	/* Three column grid for showcase projects */

	.showcase__project {
		width: 33%;
	}

}
